<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Kategori</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">
 
<h3>Kategori Listesi</h3>
<a th:href="@{/api/kategori/addNewKategori}" class="btn btn-primary btn-sm mb-3" >Kategori Ekle</a>
    <table style="width:80%" border="1" class = "table table-striped table-responsive-md">
    <thead>
  <tr>
    <th>Id</th>
    <th>Adı</th>
    <th>Operasyon</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="k:${kategorilist}">
        <td th:text="${k.id}"></td>
        <td th:text="${k.adi}"></td>
        <td>
			<a th:href="@{/api/kategori/showFormForUpdate/{id}(id=${k.id})}" class="btn btn-primary">Güncelle</a>
            <a th:href="@{/api/kategori/showFormForDelete/{id}(id=${k.id})}" class="btn btn-danger">Sil</a>
    </td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>