<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ürün</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">
 
<h3>Ürün Listesi</h3>

        <form action="#" th:action="@{/api/urun/showFormForSearch}" th:object="${searchDepoUrun}" method="post">
		    <table style="width:99%" border="0" class = "table table-striped table-responsive-md">
		    <thead>
			  <tr>
			    <th> <label>Ürün:</label> </th>
			    <th>
					<select th:field="*{urun.id}" placeholder="Ürün : " >
						<option th:value="0" th:text="Seciniz"></option>
                		<option th:each="u : ${listurun}" th:value="${u.id}" th:text="${u.adi}"></option>
            		</select> 
            	</th>
			  </tr>
			  <tr>
			    <th> <label>Depo:</label> </th>
			    <th>
					<select th:field="*{depo.id}" placeholder="Depo : " >
						<option th:value="0" th:text="Seciniz"></option>
		                <option th:each="d : ${listdepo}" th:value="${d.id}" th:text="${d.adi}"></option>
		            </select>
            	</th>
			  </tr>
			  <tr>
			    <th> <label>Kategori:</label> </th>
			    <th>
					<select th:field="*{urun.kategori.id}" placeholder="Kategori : " >
						<option th:value="0" th:text="Seciniz"></option>
		                <option th:each="k : ${kategorilist}" th:value="${k.id}" th:text="${k.adi}"></option>
		            </select>
            	</th>
			  </tr>
			  <tr>
			    <th> <label>Bölge:</label> </th>
			    <th>
		            <input type="text" th:field="*{depo.bolgeAdi}" class="form-control mb-4 col-4"> 
            	</th>
			  </tr>
			  <tr>
			    <th> <label>Şehir:</label> </th>
			    <th>
		            <input type="text" th:field="*{depo.ilAdi}" class="form-control mb-4 col-4"> 
            	</th>
			  </tr>
		  </thead>
		</table>         
            <button type="submit" class="btn btn-info col-2">Sorgula</button>
        </form>
        
    <table style="width:99%" border="0" class = "table table-striped table-responsive-md">
    <thead>
	  <tr>
	    <th align="rigth" ><a th:href="@{/api/urun/showFormForSave}" class="btn btn-primary btn-sm mb-3" >Ürün Ekle</a></th>
	  </tr>
	  </thead>
	</table>


    <table style="width:99%" border="1" class = "table table-striped table-responsive-md">
    <thead>
  <tr>
    <th>Id</th>
    <th>Ürün Adı</th>
    <th>Kategori Adı</th>
    <th>Adet</th>
    <th>Operasyon</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="e:${urunlist}">
        <td th:text="${e.id}"></td>
        <td th:text="${e.adi}"></td>
        <td th:text="${e.kategori.adi}"></td>
        <td th:text="${e.adet}"></td>
        <td>
			<a th:href="@{/api/urun/showFormForUpdate/{id}(id=${e.id})}" class="btn btn-primary">Güncelle</a>
            <a th:href="@{/api/urun/showFormForDelete/{id}(id=${e.id})}" class="btn btn-danger">Sil</a>
    </td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>